<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag 'https://www.creativefabrica.com/wp-content/uploads/2020/02/10/Golf-Logo-Graphics-1-2.jpg' %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-iconn"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item active">
          <%= link_to "Sign In", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Courses", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Buddies", "#", class: "nav-link" %>
        </li>
      </ul>
    </div>
  </div>
</div>
